<!DOCTYPE html>
<html>
<head>
  <title>Foirm Pholaitiúil na hÉireann</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>

   <nav class="navbar navbar-default">
      <div class="container">
         <div class="navbar-header">
            <%= link_to "Foirm Pholaitiúil na hÉireann", root_path, class: "navbar-brand" %>
         </div>

         <ul class="navbar-nav nav navbar-right">
            <% if user_signed_in? %>
               <li><%= link_to "Sign Out", destroy_user_session_path, class: "btn btn-danger", method: :delete %></li>
            <% else %>
               <li><%= link_to "Log In", new_user_session_path , class: "btn btn-danger" %></li>
               <li><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger" %></li>
            <% end %>
         </ul>

      </div>
   </nav>

         <% if user_signed_in? %>
            <div class="col-md-10 col-md-offset-3">
                  <div class="col-md-2">
                      <% if user_signed_in? %>
                      <%= link_to "Create a Debate", new_message_path, class: "btn-custom" %>
                      <% end %>
                  </div>
              </div>
             <% end %>

   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

   <div class="container">
      <%= yield %>
   </div>
      <div class="container">
        <div class="col-md-10 col-md-offset-2">
              <div class="col-md-2">
            <%= image_tag("image.jpeg", :alt => "rss feed") %>
        </div>
    </div>

</body>
<%= render 'layouts/footer' %>

</html>